.ipynb_checkpoints/
MCYT_Signature_100/

MCYT_Signature_100
training/
old_data_csv/
final_data.pkl
clean_data.pkl
clean_data_v2.pkl

__pycache__/
*.pyc
*.pkl
.DS_Store
*.csv
*.xlsx
*.h5
*.zip
*.tar.gz
*.pkl
training_data/